//------------------------------------------------
// Diseño para movil (mobile first)

//Variables
$color-fondo: rgb(209, 209, 209);
$color-titulo: rgb(226, 96, 57);
$color-subtitulos: rgb(51, 51, 51);
$color-btn: rgb(0, 139, 219);

body{
	background-color: $color-fondo;
	max-width: 100%;
	padding: 0%;
}

img{
	width: 100%;
}
.navigation{
	#logo{
		font-family: 'Oleo Script', Verdana;
		color: $color-titulo;
		text-align: center;
		font-size: 50px;
		margin-bottom: 10px;
	}
	ul{
		width: 100%;
		padding: 0;
		margin: 0 auto;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li{
			padding: 5px 20px;
			a{
				font-size: 20px;
				text-decoration: none;
				color: $color-subtitulos;
				border-bottom: 1px solid rgb(158, 158, 158);
				font-family: 'Open Sans';
			}
			ul{
				display: none;
			}
		}
	}
}