// Prueba Books & Books -  Daniel Bernal
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="css/style.css")
link(href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap", rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,700;1,800&display=swap", rel="stylesheet")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
title School
nav.navigation
  h1#logo The Great Institute
  ul
    li
      a.active(href="#") Home
    li
      a(href="#") About Us
      ul
        li
          a(href="#") The institute
        li
          a(href="#") History
    li
      a(href="#") Images
    li
      a(href="#") Our Students
    li
      a(href="#") More
main.main
  h1.subtitle Welcome to our institute
  p Prepare for the future with exellence and the best people aroud you!
  a(href="#")
    button.btn
      | OK LET'S GO! 
      i.fas.fa-arrow-circle-right
  a(href="#")
    button.btn
      | MORE INFO 
      i.far.fa-question-circle